<ul class=<%=title%>>
	<%let i=0%>
	<%let smallTitle = title.toLowerCase()%>
	<% items.map((item)=>{ %>
		<li><a href='/<%=smallTitle%>/<%=i%>'><%=item.name%></a>
			<a href="/<%=smallTitle%>/<%=i%>/edit">Edit</a>
		</li>
	<% i++ }); %>
</ul>
