<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<!-- <link rel="stylesheet" type="text/css" href="../style.css" /> -->
	</head>
	<body>
		<%console.log(items)%>
		<%- include('./partials/list.ejs', {items}) -%>
		<a href="/<%=title.toLowerCase()%>/new">Create A New <%=title.substring(0, title.length - 1)%></a>
		<%- include('./partials/routing.ejs') -%>
	</body>
</html>
