<!DOCTYPE html>
<html>
<head>
	<title><%=customer.name%></title>
	<!-- <link rel="stylesheet" type="text/css" href="../style.css" /> -->
</head>
<body>
		<p><%=customer.name%></p>
		<p><%=customer.email%></p>
		<p><%=customer.phoneNumber%></p>
		<p><%=customer.address%></p>
</body>
</html>